/* Style the page */
body {
    background-color: grey;
}

/* Style the container */
#container {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.box {
    height: 150px;
    width: 150px;
    background-color:  grey;
    margin: 2px;
}